#header-avaliacao{
    background: #F7F7F7;
    background-color: #faa32d;
    padding: 10px 0;
}

#header-avaliacao a:link,
#header-avaliacao a:visited,
#footer-avaliacao a:link,
#footer-avaliacao a:visited{
    color: #fff;
}

#footer-avaliacao{
    background: #F7F7F7;  
    background-color: #faa32d;
    padding: 10px 0 0;
}



.page.avaliacao h1{
    text-transform: uppercase;  margin: 1em 0 .7em;  color: #537E51;
}

.page.avaliacao th{
    color: #537E51;
    text-transform: uppercase;
}

.panel-job{}

.job-label{
    font-weight: 700;
    color: #999;
    border-bottom: #D8D8D8 solid 1px;
}

.job-content{
    margin: 5px 0 3em;
}



.panel-form {
    background-color: #ECF7F1;
    border-left: #E7E7E7 solid 1px;
    padding: 10px;
    /* height: 600px; */
    position: relative;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.17);
}


.form-title{
    text-transform: uppercase;
    font-weight: 700;
    /* margin: 0 0 -20px; */
    display: inline-block;
    position: absolute;
    top: -30px;
    left: -1px;
    background-color: #ECF7F1;
    padding: 10px;
    border-radius: 0 10px 0 0;
    border-left: #E7E7E7 solid 1px;
    box-shadow: -3px 0px 0px rgba(0, 0, 0, 0.07);
}



.panel-form .form-group {
}

.panel-form label {
    font-size: 90%;
}

.panel-form .form-control {
    font-size: 90%;
}

.checkbox:hover{
    background-color: #FDFDB8;
}


.back-link:link,
.back-link:visited {
    color: #999;
    
    font-weight: 700;
}


.back-link:hover{
    text-decoration: none;
    color: #428bca;
}


.status-canceled{
    text-decoration: line-through;
}


.avaliacao-item .glyphicon-ok{
    color: rgb(96, 192, 96);
    font-size: 1.5em;
}